spring:
  application:
    name: spring-resilience4j-example

resilience4j.circuitbreaker:
  instances:
    myCircuitBreaker:
      slidingWindowSize: 5
      failureRateThreshold: 50
      waitDurationInOpenState: 5s

resilience4j.retry:
  instances:
    myRetry:
      max-attempts: 3
      wait-duration: 0s

resilience4j.ratelimiter:
  instances:
    myRateLimiter:
      limitForPeriod: 2
      limitRefreshPeriod: 5s
      timeoutDuration: 0

resilience4j.bulkhead:
  instances:
    myBulkhead:
      maxConcurrentCalls: 2
      maxWaitDuration: 1s

resilience4j.timelimiter:
  instances:
    myTimeLimiter:
      timeoutDuration: 2s
      cancelRunningFuture: true

server:
  tomcat:
    max-threads: 10

logging:
  level:
    root: DEBUG
    com.example: TRACE
    io.github.resilience4j: TRACE
    io.github.resilience4j.circuitbreaker: TRACE
    io.github.resilience4j.retry: TRACE
    io.github.resilience4j.ratelimiter: TRACE
    io.github.resilience4j.bulkhead: TRACE
    io.github.resilience4j.timelimiter: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,circuitbreakers,retries,ratelimiters,bulkheads,timelimiters
